{
  "openapi": "3.1.0",
  "info": {
    "title": "Omni Z-API - Partner: eliminar canal",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.omni.z-api.io"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/channels/{channelId}": {
      "delete": {
        "summary": "Eliminar canal (Partner)",
        "description": "Elimina permanentemente un canal y todos sus datos. Solo se permite el borrado cuando el canal no tiene una suscripción activa (estado `CANCELED`, `TRIAL` o `PENDING`). Requiere el rol ENTERPRISE.",
        "operationId": "partnerDeleteChannel",
        "tags": [
          "Partners"
        ],
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "description": "ID del canal (obtenido con Crear canal)",
            "schema": {
              "type": "string",
              "example": "019E4C54B1B375A28970B605CA9B03C3"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteRequest"
              },
              "examples": {
                "withReason": {
                  "summary": "Con motivo de eliminación",
                  "value": {
                    "cancelReason": "El cliente cerró la empresa"
                  }
                },
                "withoutReason": {
                  "summary": "Sin motivo (body omitido)",
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Canal eliminado correctamente. No se devuelve contenido."
          },
          "400": {
            "description": "Autorización no válida o ausente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": 400,
                  "message": "Authorization invalid"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Canal no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": 404,
                  "message": "Instance not found"
                }
              }
            }
          },
          "422": {
            "description": "Regla de negocio incumplida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "enterpriseRequired": {
                    "summary": "Cuenta sin el rol ENTERPRISE",
                    "value": {
                      "error": 422,
                      "message": "Channel deletion requires ENTERPRISE role"
                    }
                  },
                  "channelConnected": {
                    "summary": "El canal sigue conectado",
                    "value": {
                      "error": 422,
                      "message": "INSTANCE_STILL_CONNECTED"
                    }
                  },
                  "activeSubscription": {
                    "summary": "Canal con suscripción activa (PAID o CANCELLATION_PROCESS)",
                    "value": {
                      "error": 422,
                      "message": "INSTANCE_HAS_ACTIVE_SUBSCRIPTION"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Fallo en la integración con el servicio interno",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": 502,
                  "message": "Hermitage deleteChannel failed"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "Unauthorized": {
        "description": "Token no válido o ausente.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": 401,
              "message": "Unauthorized"
            }
          }
        }
      }
    },
    "schemas": {
      "DeleteRequest": {
        "type": "object",
        "properties": {
          "cancelReason": {
            "type": "string",
            "description": "Motivo de la eliminación (opcional, pero recomendado con fines de auditoría)",
            "example": "El cliente cerró la empresa"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Secret Key generada en el panel de Seguridad de Omni Z-API"
      }
    }
  }
}
