{
  "openapi": "3.1.0",
  "info": {
    "title": "Omni Z-API - Desconectar canal",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.omni.z-api.io"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/channels/{channelId}/disconnect": {
      "put": {
        "summary": "Desconectar canal Meta WhatsApp",
        "description": "Desconecta un canal **META_WHATSAPP** de la API Oficial de WhatsApp. Borra todos los datos de conexión (WABA, phone ID, coexistencia) y marca el canal como desconectado.",
        "operationId": "disconnectMetaChannel",
        "tags": [
          "Canales"
        ],
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "description": "ID del canal",
            "schema": {
              "type": "string",
              "example": "019E4C54B1B375A28970B605CA9B03C3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Canal desconectado correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                },
                "example": true
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Canal no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": 404,
                  "message": "Channel not found"
                }
              }
            }
          },
          "502": {
            "description": "Error de integración con el servicio externo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": 502,
                  "message": "Integration error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "Unauthorized": {
        "description": "Token no válido o ausente.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": 401,
              "message": "Unauthorized"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Secret Key generada en el panel de Seguridad de Omni Z-API"
      }
    }
  }
}
