{
  "openapi": "3.1.0",
  "info": {
    "title": "Omni Z-API - Desconectar Canal",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://api.omni.z-api.io" }],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/v1/channels/{channelId}/disconnect": {
      "put": {
        "summary": "Desconectar canal Meta WhatsApp",
        "description": "Desconecta um canal **META_WHATSAPP** da API Oficial do WhatsApp. Limpa todos os dados de conexão (WABA, phone ID, coexistência) e marca o canal como desconectado.",
        "operationId": "disconnectMetaChannel",
        "tags": ["Canais"],
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "description": "ID do canal",
            "schema": { "type": "string", "example": "019E4C54B1B375A28970B605CA9B03C3" }
          }
        ],
        "responses": {
          "200": {
            "description": "Canal desconectado com sucesso",
            "content": {
              "application/json": {
                "schema": { "type": "boolean" },
                "example": true
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "Canal não encontrado",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": { "error": 404, "message": "Channel not found" }
              }
            }
          },
          "502": {
            "description": "Erro de integração com o serviço externo",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": { "error": 502, "message": "Integration error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "Unauthorized": {
        "description": "Token inválido ou ausente.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "error": 401, "message": "Unauthorized" }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "integer" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Secret Key gerada no painel de Segurança do Omni Z-API"
      }
    }
  }
}
