{
  "openapi": "3.1.0",
  "info": {
    "title": "Omni Z-API - Connect Channel",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://api.omni.z-api.io" }],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/v1/channels/{channelId}/connect": {
      "post": {
        "summary": "Connect Meta WhatsApp channel",
        "description": "Finalizes the connection of a **META_WHATSAPP** channel with the data returned by the `@omni-zapi/connect` SDK. Exclusive to WhatsApp Official API (Meta) channels.",
        "operationId": "connectMetaChannel",
        "tags": ["Channels"],
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "description": "Channel ID (obtained via Create channel)",
            "schema": { "type": "string", "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ConnectChannelRequest" },
              "example": {
                "wabaId": "428083093730937",
                "phoneId": "123456789012345",
                "code": "ABC123DEF456",
                "coexistence": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel connected successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SuccessResponse" },
                "example": { "success": true }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "responses": {
      "Unauthorized": {
        "description": "Invalid or missing token.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "error": 401, "message": "Unauthorized" }
          }
        }
      }
    },
    "schemas": {
      "ConnectChannelRequest": {
        "type": "object",
        "required": ["wabaId", "phoneId", "code", "coexistence"],
        "properties": {
          "wabaId": { "type": "string", "description": "WhatsApp Business Account ID" },
          "phoneId": { "type": "string", "description": "Phone number ID" },
          "code": { "type": "string", "description": "Authorization code generated by WhatsApp" },
          "coexistence": { "type": "boolean", "description": "Whether the number is in coexistence mode" }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "description": "Indicates whether the operation was successful" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "integer" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "Secret Key generated in the Omni Z-API Security panel" }
    }
  }
}
